<h1>User Card</h1>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-user" aria-hidden="true"></i> Edit User Name</h3>
        <input class="form-control" />
        <div class="clearfix"></div>
    </div>

    <div highllight="whitesmoke" class="panel-body">
        <div class="">
            <img class="img-avatar" alt="">
            <div class="caption">
                <p>
                    <span>profession</span>
                </p>
                <p>
                    <input class="form-control" required />
                </p>
                <p>
                    <button class="btn btn-primary">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Schedules 
                        <span class="badge"> Schedules Created</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            <button class="btn btn-default btn-xs">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Schedules
            </button>
            <button class="btn btn-default btn-xs">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                Update
            </button>
            <button class="btn btn-danger btn-xs">
                <i class="fa fa-times" aria-hidden="true"></i>
                Remove
            </button>
        </div>
        <div>
            <button class="btn btn-default btn-xs">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Create
            </button>
        </div>
    </div>
</div>

<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"> User schedules created</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Place</th>
                            <th>Time Start</th>
                            <th>Time End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>title</td>
                            <td>description</td>
                            <td>location</td>
                            <td>time start</td>
                            <td>time start</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>