<h1>User Card</h1>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-user" aria-hidden="true"></i> Edit User Name</h3>
        <input class="form-control" />
        <div class="clearfix"></div>
    </div>

    <div highllight="whitesmoke" class="panel-body">
        <div class="">
            <img class="img-avatar" alt="">
            <div class="caption">
                <p>
                    <span>profession</span>
                </p>
                <p>
                    <input class="form-control" required />
                </p>
                <p>
                    <button class="btn btn-primary">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Schedules 
                        <span class="badge"> Schedules Created</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>